[user]
	email = ryan.j.carrier@gmail.com
	name = Ryan Carrier
[push]
	default = simple
	autoSetupRemote = true
[includeIf "gitdir:~/Projects/byteback/"]
		path = ~/Projects/byteback/.gitconfig

[safe]
	directory = /opt/flutter
[init]
	defaultBranch = main
